.range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 41px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 1px solid #ccc;
  background-color: #fff;
}

.range-input:hover {
  opacity: 1;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 41px;
  background: #e53935;
  cursor: pointer;
}

.range-input::-moz-range-thumb {
  width: 25px;
  height: 41px;
  background: #e53935;
  cursor: pointer;
}

#bodyDuration form .input-group-addon {
  background-color: #e53935;
}
output#range {
  color: #fff;
  padding-top: 0px;
}
